{% extends 'base.html' %}
{% block content %}
    <form method="post" action="{% url 'login' %}" style="width: 80%; margin: auto">
        {% csrf_token %}
        <div class="form-control">
            <label class="form-control" for="username">Username:</label>
            <input class="form-control" type="text" id="username" name="username" required>
        </div>
        <div class="form-control">
            <label class="form-control" for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="password" required>
        </div>
        <button class="form-control" type="submit">Login</button>
    </form>
{% endblock %}

